* {
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  font-family: Kaushan Script;
}

.container {
  width: 1535px;
  height: 737px;
  background-image: url("/img/image\ 2.svg");
  background-size: cover;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.form {
  width: 478px;
  height: 272px;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.title {
  margin-top: 34px;
  margin-bottom: 30px;
  font-size: 28px;
}

.nameInput {
  width: 364px;
  height: 56px;
  border: none;
  background-color: #d9d9d9;
  margin-bottom: 29px;
  font-size: 18px;
}

.btn-back {
  width: 203px;
  height: 52px;
  margin-right: 22px;
  display: inline-block;
  text-align: center;
}

a {
  text-decoration: none;
  all: unset;
}

.btn-submit {
  width: 141px;
  height: 52px;
}

.button {
  background-color: #fab048;
  border: none;
  font-family: Kaushan Script;
  font-size: 24px;
  border-radius: 4px;
  transition: all 1s;
}

.button:hover {
  cursor: pointer;
  background-color: #d3943b;
}
